body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#container {
    text-align: center;
    position: relative;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 2em;
}

#rat {
    position: absolute;
    width: 150px; /* Increased size by 50% */
    transition: transform 0.5s, left 1s linear, top 1s linear;
}
